<div>
    <% if current_user %>
        <h1>Welcome back, </h1>
        
        <h2>
            This is the home page for the blog
        </h2>
        <body>
            <%= link_to "Create New Post", newpost_path %> | 
            <%= link_to 'All Post', posts_path %>
        </body>
    <% else %>
        <h1>Hi, please register or login</h1>
        
        <h2>
            This is the home page for the blog
        </h2>
        <body>
            Register and login link above :D
        </body>
    <% end %>
</div>

