<h1>Hi, create your account</h1>
    
<h2>
    This is the home page for the blog
</h2>
<div>
    <% if current_user %>
          <%= link_to "Create New Post", newpost_path %>
    <% else %>
        <body>
            Please login first !
        </body>
    <% end %>
</div>

